<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">



<script>
  /*
    window.addEventListener('load', () => {
    const now = new Date();
    // console.log(now.getTimezoneOffset())
    now.setMinutes(now.getMinutes() - now.getTimezoneOffset());
    console.log(now.toISOString().split(".")[0])
    console.log(now.toISOString().slice(0,16))
    document.getElementById('time').value = now.toISOString().slice(0,16);
    // document.getElementById('time').value = now.toISOString().slice(0,-1);

    });
  */

    function time(){
      const now = new Date();
      // console.log(now.getTimezoneOffset())
      now.setMinutes(now.getMinutes() - now.getTimezoneOffset());
      console.log(now.toISOString().split(".")[0])
      console.log(now.toISOString().slice(0,16))
      document.getElementById('time').value = now.toISOString().slice(0,16);
      }
    document.addEventListener('load', () => {
      time()
    });
    setInterval(time,1000);
</script>




<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <!-- <h1>Posting data from HTML to Mongo</h1> -->
    <h1 class="pagetitle">Publish Breaking News Updates</h1>
<div class="main-container">
  <div class="new-update-container">
      <form method="post" action="/">
          <div><input type="datetime-local" name="time" id="time"></div>
          <div><textarea name="headline" id="headline" class="headline" placeholder="כותרת" style="height:10rem"></textarea></div>
          <div><textarea name="body" id="body" class="body" placeholder="כותרת משנה" style="height:6rem"></textarea></div>
          <div><label class="switch">
            <input type="checkbox" checked name="tweet" id="tweet">
            <span class="slider round tweet"></span>
          </label> &nbsp;
          <label class="switch">
            <input type="checkbox" name="thread" id="thread">
            <span class="threader round"></span>
          </label></div>
          <div class="sendbutton"><button class="sendbutton">Publish</button></div>
      </form>
</div>



<!--v1-->
<!-- <div id="old" name="old" class="update-list-container">
    <%updateList.forEach(update => {%>
      <p><%= update.headline %></p>
      <span><%= update.body %> @ <%= update.time %></span>
      <%})%>
</div> -->

<!--v2-->
<div id="old" name="old" class="update-list-container">
  <%updateList.forEach(update => {%>
    <div class="old-update-container">
    <!-- <div class="new-update-container"> -->
      <!-- <div><span class="time"><%= update.time.slice(0,16) %></span></div> -->
      <div class="time-old-div"><span class="time-old"><%= update.time.slice(11,16) %> @ <%= update.time.slice(8,10) %>/<%= update.time.slice(5,7) %>/<%= update.time.slice(0,4) %></span></div>
      <div class="headline-old-div"><span class="headline-old" ><%= update.headline %></span></div>
      <div><span class="body-old" ><%= update.body %></span></div>
      <div><span class="objectid">ObjectId: <%= update._id %></span></div>
    </div>
    <!-- </div> -->
    <hr style="margin-bottom: 1rem">

    <%})%>
</div>
</div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>