<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <div class="row" style="margin-right: 0; margin-left: 0;">
      <div class="col-sm-8-upd">
        <div class="jumbotron">
          <!-- <h1>UPDATES</h1> -->
          <!-- <p>Welcome to templating using EJS</p> -->
          <div id="old" name="old" class="full-update-list-container">
            <%updateList.forEach(update=> {%>
              <a href="/review?id=<%= update._id %>"">
            <div class=" full-update-container">
                <div><span class="time-old">
                    <%= update.time.slice(11,16) %> @ <%= update.time.slice(8,10) %>/<%= update.time.slice(5,7) %>/<%=
                            update.time.slice(0,4) %>
                  </span></div>
                <div><span class="headline-old">
                    <%= update.headline %>
                  </span></div>
                <div><span class="body-old">
                    <%= update.body %>
                  </span></div>
                <div><span class="objectid">ObjectId: <%= update._id %></span></div>

          </div>
          <hr style="margin-bottom: 1rem">
          </a>
          <%})%>
        </div>
      </div>
    </div>











    <div class="col-sm-4-upd">
      <div class="well">
        <!-- <h3>Look I'm A Sidebar!</h3> -->
        <div class="jumbotron">
          <div class="main-container">
            <div class="update-update-container">
              <form method="post" action="/review">
                <div><input type="datetime-local" name="time" id="time" value=<%=spotlight.time %>></div>
                <div><textarea name="headline" id="headline" class="headline"
                    placeholder="כותרת"><%= spotlight.headline %></textarea></div>
                <div><textarea name="body" id="body" class="body"
                    placeholder="כותרת משנה"><%= spotlight.body %></textarea></div>

                <div>
                  <label class="switch">
                    <input type="checkbox" name="tweet" id="tweet">
                    <span class="slider round tweet"></span>
                  </label>
                </div>

                <div class="updatebuttons">
                  <button class="updatebutton">Update</button>
                  <button class="deletebutton" formaction="/delete?id=" <%=spotid %>>Delete</button>
                </div>
                <div><textarea class="display-objectid" name="spotlightedid" id="spotlightedid" rows="1"
                    readonly><%= spotid %></textarea></div>
              </form>
            </div>
          </div>
        </div>

        <!-- <input id="spotlightbody" value=<%= spotlight.headline %>></input>
      <%= spotlight.headline %> -->
      </div>
    </div>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>